.header {
  align-items: center;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);
  display: flex;
  flex: 0 0 auto;
  height: 64px;
  justify-content: space-between;
  line-height: 64px;
  padding-left: 42px;
  padding-right: 42px;
}

.header-details {
  align-items: center;
  display: flex;
  gap: 24px;
}
