.auth__form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 356px;
}

.form__password-block {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.form__link {
  opacity: 1;
  transition: .2s ease-in;
}

.form__link:hover {
  opacity: .7;
}

:where(.css-dev-only-do-not-override-1uq9j6g).ant-input {
  font-family: Inter, sans-serif;
}

.anticon svg {
  height: 16px;
  width: 16px;
}

.ant-form-item-explain-error {
  margin-top: 4px;
}
