.auth {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  padding: 0 12px 32px;
  flex-grow: 1;
  gap: 32px;
  justify-content: center;
}

.auth-text {
  text-align: center;
}
