.menu {
  position: fixed;
  top: 62px;
  left: 0;
  background-color: #EBF2FC;
  width: 181px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 16px;
  padding: 24px;
  height: 100%;
  transition: width .15s ease-in-out;
}

.menu:hover {
  cursor: pointer;
}

.menu.collapsed {
  background-color: inherit;
  width: 83px;
  transition: width .15s ease-in-out;
}

.menu__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition-duration: .15s;
  transition-property: background-color, color, padding;
  transition-timing-function: ease-in-out;
}

.menu-item-icon {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 4px;
  display: flex;
  padding: 8.5px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  opacity: 1;
  transition: .2s ease-in;
}

.menu__item:hover .menu-item-icon {
  cursor: pointer;
  opacity: .7;
}

.menu__item:hover .menu-item-text {
  cursor: pointer;
  opacity: .7;
}

.menu__item_current .menu-item-icon {
  background-color: #1677FF;
}

.menu__item_current .menu-item-icon svg path {
  fill: #FFF;
}

.menu-item-text {
  display: block;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, .88);
  padding-left: 8px;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width .15s ease-in-out;
  white-space: nowrap;
}

.menu.collapsed .menu-item-text {
  width: 0;
}