.menu {
  background-color: inherit;
  width: 83px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 16px;
  padding: 24px;
  height: 100%;
}

.menu__item {
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 4px;
  display: flex;
  height: 35px;
  width: 35px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  opacity: 1;
  transition: .2s ease-in;
}

.menu__item:hover {
  cursor: pointer;
  opacity: .7;
}

.menu__item_current {
  background-color: #1677FF;
}

.menu__item_current svg path {
  fill: #FFF;
}
