.profile-navigate-block {
  display: flex;
  height: 46px;
  justify-content: space-between;
  width: 100%;
}

.profile__info {
  align-items: center;
  column-gap: 12px;
  display: flex;
  padding: 9px 0;
  text-wrap: nowrap;
}

.profile__id {
  margin: 0;
}

.profile__button {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  max-height: 40px;
  opacity: 1;
  padding: 11px;
  transition: .2s ease-in;
}

.profile__button:hover {
  cursor: pointer;
  opacity: .7;
}

.profile__button_current {
  background-color: #1677ff;
}

.profile__button_current svg path {
  fill: #fff;
}

.profile__button-image {
  height: 18px;
  object-fit: cover;
  width: 18px;
}

.profile__block {
  display: grid;
  gap: 24px;
  grid-template-columns: 271px auto;
  grid-template-rows: 332px 148px;
}

.profile__block-element {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.profile__info-fields {
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile__info-column {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.profile__block-element_avatar {
  align-items: center;
  justify-content: center;
}
