.notifications {
  width: 46px;
  height: 46px;
  position: relative;
  padding: 10px 10px 4px 4px;
  border: none;
  background-color: inherit;
}

.notifications:hover {
  cursor: pointer;
}

.notifications__image {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.notifications__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #FFF;
  background-color: #1677FF;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 4px;
  right: 4px;
}
