.page {
  display: flex;
  flex-direction: column;
  padding: 24px 25px 0 0;
  width: 100%;
}

.page.inner {
  padding: 0;
}

.page-header {
  align-items: start;
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.page-title {
  flex-grow: 1;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.page.inner .page-title {
  font-size: 16px;
  line-height: 24px;
}

.page-extra {
  align-items: start;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: end;
}

.page-content {
  background-color: aquamarine;
  flex-grow: 1;
}
