.logo {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 0;
  outline: none;
  text-decoration: none;
  width: 175px;
}

.logo img {
  background-color: transparent;
  border: none;
  display: block;
  height: 50px;
  outline: none;
  width: 175px;
}
