.reset-password__form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 356px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__text {
  color: rgba(0, 0, 0, .88);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: start;
}

.form__text-blue {
  color: #1677ff;
}
