.avatar {
  height: 32px;
  position: relative;
  width: 32px;
}

.avatar__image {
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.avatar__status {
  background-color: #52c41a;
  border: 2px solid #fff;
  border-radius: 5px;
  height: 10px;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 10px;
}
