.forget-password__form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 356px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
}

.form__inputs_forget-password {
  row-gap: 20px;
}
