.forget-password__form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 356px;
}

.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__text {
  color: rgba(0, 0, 0, .88);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: start;
}

.form__input-wrapper {
  position: relative;
}

.form__input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  color: rgba(0, 0, 0, .88);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 9px 12px;
  position: relative;
  width: 100%;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, .25);
}

.form__input:focus {
  border-color: #1677ff;
  box-shadow: 0;
  outline: none;
}

.form__input:active {
  border-color: #1677ff;
}

.form__input-control {
  background-color: inherit;
  background-image: url("../../assets/icons/iconInvisible.svg");
  background-size: contain;
  border: none;
  height: 16px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
}

.form__input_error {
  border-color: #f5222d;
}

.form__text-error {
  color: #f5222d;
  display: none;
  left: 0;
  position: absolute;
  top: 46px;
}

.form__text-error_show {
  display: block;
}
